body {
    position: relative;
    margin: 0;
    width: 100%;
    background-color: rgb(221, 219, 219);
    background-image: url("../Images/packsimg2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    min-height: 100vh;
}

.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}  
  
.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.poller-one-regular {
    font-family: "Poller One", serif;
    font-weight: 300;
    font-style: normal;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
   

/*#Packpageoverlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(229, 234, 253, 0.315);
    border-radius: 30px;
    z-index: 1;
}*/


#shortcutheader {
    position: relative;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px 20px;
    /*background-color: #a9b2cabb; Adjust as needed */
    z-index: 1000;
}

#shortcutheader h1 {
    margin-left: 2%;
    font-size: 30px;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #fdf8f9;;
    position: relative;
    z-index: 2;
}

#shortcutheader .shortcut {
    color: #ffffff;
}

#shortcuts {
    margin-top: 10px;
    margin-right: 40px;
    display: flex;
    gap: 20px;
    font-family: 'Times New Roman';
}

#shortcuts .shortcut {
    cursor: pointer;
    transition: color 0.3s;
    color: #ffffff;
    font-weight: bold;
}

#shortcuts .shortcut.active {
    color: #9d42da; /* Highlight color for the active page */
    font-weight: bold;
}

/* Optional hover effect */
#shortcuts .shortcut:hover {
    color:#9d42da;; 
}

#packs-heading,
#p1,
#p2,
.packagesDiv,
.extrapacksDiv {
    opacity: 0;
    transform: translateY(20px); /* Slightly shifted down */
    transition: opacity 1s ease, transform 1s ease;
}

#Contact-button {
    opacity: 0;
    transform: translateY(20px); /* Slightly shifted down */
    transition: opacity 1s ease, transform 1s ease;
}

#allPackages {
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    z-index: 2;
}

#Packages {
    margin: 0 auto;
    margin-bottom: 5%;
    width: 90%;
    background: linear-gradient(60deg, rgba(89, 87, 90, 0.377), rgba(139, 137, 141, 0.301), rgba(89, 87, 90, 0.377));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(3, 3, 3, 0.904);
    gap: 0;
}

#mainpacks {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 90%;
    gap:30px;
}

#basicpackhdng {
    color: #250575;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#basicpack {
    background: linear-gradient(60deg, rgba(134, 128, 167, 0.438), rgba(164, 159, 194, 0.438),rgba(134, 128, 167, 0.438));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

#basicpack ul {
    position: relative;
    list-style-type: disc; /* Default bullet points */
    margin: 10px 0 0 20px; /* Adds spacing around the list */
    margin-left: 10%;
    padding: 0px;
    z-index: 2;
}

#basicpack li {
    position: relative;
    margin: 8px 0; /* Spacing between list items */
    font-size: 16px; /* Adjust font size as needed */
    /*font-weight: bold;*/
    color: #280874;
    z-index: 2;
}

#standardpack {
    background: linear-gradient(60deg, rgba(150, 118, 177, 0.438), rgba(173, 146, 196, 0.438),rgba(150, 118, 177, 0.438));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

#standardpackhdng {
    color: #450f5e;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#standardpack ul {
    position: relative;
    list-style-type: disc; /* Default bullet points */
    margin: 10px 0 0 20px; /* Adds spacing around the list */
    margin-left: 10%;
    padding: 0px;
    z-index: 2;
}

#standardpack li {
    position: relative;
    margin: 8px 0; /* Spacing between list items */
    font-size: 16px; /* Adjust font size as needed */
    /*font-weight: bold;*/
    color: #400f61;
    z-index: 2;
}

#premiumpack {
    background: linear-gradient(60deg, rgba(146, 90, 125, 0.438), rgba(199, 144, 178, 0.438),rgba(146, 90, 125, 0.438));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

#ecompackhdng {
    color: #530253;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#premiumpack ul {
    position: relative;
    list-style-type: disc; /* Default bullet points */
    margin: 10px 0 0 20px; /* Adds spacing around the list */
    margin-left: 10%;
    padding: 0px;
    z-index: 2;
}

#premiumpack li {
    position: relative;
    margin: 8px 0; /* Spacing between list items */
    font-size: 14px; /* Adjust font size as needed */
    /*font-weight: bold;*/
    color: #3f1941;
    z-index: 2;
}

.packdetails li {
    position: relative;
    margin: 8px 0;
    font-size: 14px;
    color: #053a47;
    z-index: 2;
}

#extraPacks {
    margin: 0 auto;
    width: 90%;
    gap:50px;
}

.packtitle {
    width: 25%;
    height: 14%;
    margin-left: 5%;
    margin-bottom: 0px;
    text-align: center;
}

.packdetails {
    width: 50%;
}

#maintncpackhdng {
    color: #01282e;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#maintncsbhdng {
    color: #03343b;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#maintenancecta {
    color: #01282e;
    font-size: 20px;
}

.packagesDiv {
    width: 45%;
    height: 80vh;
    background: linear-gradient(60deg, rgba(180, 137, 201, 0.384), rgba(192, 169, 214, 0.301), rgba(180, 137, 201, 0.267));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 10px 20px rgba(3, 3, 3, 0.904);
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    border-radius: 8px;
    z-index: 200px;
}

#Price {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
    color: #380135cc;
}

.extrapacksDiv {
    display: flex;
    width: 100%;
    height: 50vh;
    margin-bottom: 30px;
    background: linear-gradient(60deg, rgba(180, 137, 201, 0.384), rgba(192, 169, 214, 0.301), rgba(180, 137, 201, 0.267));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 10px 20px rgba(3, 3, 3, 0.904);
    transition: transform 0.8s ease, box-shadow 0.8s ease;
    border-radius: 8px;
    z-index: 200px;
    gap: 50px;
}

#packs-heading {
    text-align: center;
    font-size: 90px;
    color: #f5cfff;
    margin-bottom: 0px;
}

#p1 {
    text-align: center;
    font-size: 30px;
    color: #6609bd;
}

#p2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #f5cfff;
    margin-bottom: 50px;
}


.packs {
    width: 30%;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
}


.packoverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 54, 65, 0.459);
    border-radius: 30px;
    z-index: 1;
}


#Contact-button {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 200px;
    height: 15%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(68, 47, 124);
    border: 2px solid  rgb(68, 47, 124);
    border-radius: 5%;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    color: rgb(255, 253, 253);
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    animation: fadeIn 2s forwards;
    z-index: 2;
}

#packs-heading.active,
#p1.active,
#p2.active,
.packagesDiv.active,
.extrapacksDiv.active {
    opacity: 1;
    transform: translateY(0); /* Reset to original position */
}

#Contact-button.active {
    opacity: 1;
    transform: translateY(0); /* Reset to original position */
}

#linksection {
    position: relative;
    z-index: 2;
    background-color: #1c0625;;
    color: #f8f8f8;
}

#legal {
    position: relative;
    z-index: 2;
    background-color: #14011b;
    color: #f8f3f4;
}
